In [23]:
import pandas as pd

In [24]:
df = pd.read_csv("netflix_reviews.csv")

In [25]:
df.head()

,reviewId,userName,content,score,thumbsUpCount,reviewCreatedVersion,at,appVersion
0,cc1cfcd2-dc8a-4ead-88d1-7f2b2dbb2662,NR Bharadwaj,Plsssss stoppppp giving screen limit like when...,2,0,8.120.0 build 10 50712,2024-07-02 17:17:53,8.120.0 build 10 50712
1,7dfb1f90-f185-4e81-a97f-d38f0128e5a4,Maxwell Ntloko,Good,5,1,NaN,2024-06-26 15:38:06,NaN
2,3009acc4-8554-41cf-88de-cc5e2f6e45b2,Dilhani Mahanama,üëçüëç,5,0,NaN,2024-06-24 15:29:54,NaN
3,b3d27852-9a3b-4f74-9e16-15434d3ee324,Karen Gulli,Good,3,0,NaN,2024-06-22 15:41:54,NaN
4,8be10073-2368-4677-b828-9ff5d06ea0b7,Ronny Magadi,"App is useful to certain phone brand ,,,,it is...",1,0,8.105.0 build 15 50626,2024-06-22 05:16:03,8.105.0 build 15 50626

Many of the columns are completely useless for our stuff. So we can remove them.

Like:
- reviewId
- userName
- reviewCreatedVersion
- appVersion

In [26]:
df = df[['content', 'score', 'thumbsUpCount', 'at']]

In [27]:
df.head()

,content,score,thumbsUpCount,at
0,Plsssss stoppppp giving screen limit like when...,2,0,2024-07-02 17:17:53
1,Good,5,1,2024-06-26 15:38:06
2,üëçüëç,5,0,2024-06-24 15:29:54
3,Good,3,0,2024-06-22 15:41:54
4,"App is useful to certain phone brand ,,,,it is...",1,0,2024-06-22 05:16:03

In [28]:
#¬†We can see that there is some stuff missing. 

df.isna().sum()

content          2
score            0
thumbsUpCount    0
at               0
dtype: int64

In [29]:
df.fillna('', inplace=True)

In [30]:
df.head()

,content,score,thumbsUpCount,at
0,Plsssss stoppppp giving screen limit like when...,2,0,2024-07-02 17:17:53
1,Good,5,1,2024-06-26 15:38:06
2,üëçüëç,5,0,2024-06-24 15:29:54
3,Good,3,0,2024-06-22 15:41:54
4,"App is useful to certain phone brand ,,,,it is...",1,0,2024-06-22 05:16:03

In [31]:
df['at'] = pd.to_datetime(df['at'])

In [32]:
# Check if date is converted now

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113610 entries, 0 to 113609
Data columns (total 4 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   content        113610 non-null  object
 1   score          113610 non-null  int64
 2   thumbsUpCount  113610 non-null  int64
 3   at             113610 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 3.5+ MB

In [33]:
df.head()

,content,score,thumbsUpCount,at
0,Plsssss stoppppp giving screen limit like when...,2,0,2024-07-02 17:17:53
1,Good,5,1,2024-06-26 15:38:06
2,üëçüëç,5,0,2024-06-24 15:29:54
3,Good,3,0,2024-06-22 15:41:54
4,"App is useful to certain phone brand ,,,,it is...",1,0,2024-06-22 05:16:03

In [34]:
#¬†Generating the sentiment column

def map_sentiment(score):
    if score in [1, 2]:
        return -1
    elif score == 3:
        return 0
    elif score in [4, 5]:
        return 1

In [35]:
df['sentiment'] = df['score'].apply(map_sentiment)

In [36]:
df.columns = ['Content', 'Score', 'ThumbsUpCount', 'Date', 'Sentiment']

df.head()

,Content,Score,ThumbsUpCount,Date,Sentiment
0,Plsssss stoppppp giving screen limit like when...,2,0,2024-07-02 17:17:53,-1
1,Good,5,1,2024-06-26 15:38:06,1
2,üëçüëç,5,0,2024-06-24 15:29:54,1
3,Good,3,0,2024-06-22 15:41:54,0
4,"App is useful to certain phone brand ,,,,it is...",1,0,2024-06-22 05:16:03,-1

We can save the cleaned up dataset now.

In [37]:
df.to_csv('cleaned_data.csv', index=False)