In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("netflix_reviews.csv")

In [3]:
df.head()

,reviewId,userName,content,score,thumbsUpCount,reviewCreatedVersion,at,appVersion
0,cc1cfcd2-dc8a-4ead-88d1-7f2b2dbb2662,NR Bharadwaj,Plsssss stoppppp giving screen limit like when...,2,0,8.120.0 build 10 50712,2024-07-02 17:17:53,8.120.0 build 10 50712
1,7dfb1f90-f185-4e81-a97f-d38f0128e5a4,Maxwell Ntloko,Good,5,1,NaN,2024-06-26 15:38:06,NaN
2,3009acc4-8554-41cf-88de-cc5e2f6e45b2,Dilhani Mahanama,üëçüëç,5,0,NaN,2024-06-24 15:29:54,NaN
3,b3d27852-9a3b-4f74-9e16-15434d3ee324,Karen Gulli,Good,3,0,NaN,2024-06-22 15:41:54,NaN
4,8be10073-2368-4677-b828-9ff5d06ea0b7,Ronny Magadi,"App is useful to certain phone brand ,,,,it is...",1,0,8.105.0 build 15 50626,2024-06-22 05:16:03,8.105.0 build 15 50626

Many of the columns are completely useless for our stuff. So we can remove them.

Like:
- thumbsupCount
- at
- userName
- reviewCreatedVersion
- appVersion

In [4]:
df = df[['reviewId','content', 'score']]

In [5]:
df.head()

,reviewId,content,score
0,cc1cfcd2-dc8a-4ead-88d1-7f2b2dbb2662,Plsssss stoppppp giving screen limit like when...,2
1,7dfb1f90-f185-4e81-a97f-d38f0128e5a4,Good,5
2,3009acc4-8554-41cf-88de-cc5e2f6e45b2,üëçüëç,5
3,b3d27852-9a3b-4f74-9e16-15434d3ee324,Good,3
4,8be10073-2368-4677-b828-9ff5d06ea0b7,"App is useful to certain phone brand ,,,,it is...",1

In [6]:
def show_details(dataset):
    missed_values = dataset.isnull().sum()
    missed_values_percent = (dataset.isnull().sum()) / len(dataset)
    duplicated_values = dataset.duplicated().sum()
    duplicated_values_percent = (dataset.duplicated().sum()) / len(dataset)
    info_frame = pd.DataFrame({'Missing_Values' : missed_values , 
                              'Missing_Values %' :missed_values_percent,
                              'Duplicated values' :duplicated_values,
                              'Duplicated values %':duplicated_values_percent})
    return info_frame.T

In [7]:
show_details(df)

                       reviewId     content       score
Missing_Values         0.000000    2.000000    0.000000
Missing_Values %       0.000000    0.000018    0.000000
Duplicated values    316.000000  316.000000  316.000000
Duplicated values %    0.002781    0.002781    0.002781

We notice that there are only 2 missing values, while the duplicated values are a tiny percentage, so we decide to drop them.

In [8]:
df.drop_duplicates(inplace=True)
df.dropna(inplace=True)
show_details(df)

                     reviewId  content  score
Missing_Values            0.0      0.0    0.0
Missing_Values %          0.0      0.0    0.0
Duplicated values         0.0      0.0    0.0
Duplicated values %       0.0      0.0    0.0

In [10]:
# Check if date is converted now

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 113292 entries, 0 to 113609
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   reviewId  113292 non-null  object
 1   content   113292 non-null  object
 2   score     113292 non-null  int64
dtypes: int64(1), object(2)
memory usage: 3.5+ MB

In [11]:
#¬†Generating the sentiment column

df['sentiment'] = df['score'].apply(lambda x: 'positive' if x > 3 else ('negative' if x < 3 else 'neutral'))

df.head()

,reviewId,content,score,sentiment
0,cc1cfcd2-dc8a-4ead-88d1-7f2b2dbb2662,Plsssss stoppppp giving screen limit like when...,2,negative
1,7dfb1f90-f185-4e81-a97f-d38f0128e5a4,Good,5,positive
2,3009acc4-8554-41cf-88de-cc5e2f6e45b2,üëçüëç,5,positive
3,b3d27852-9a3b-4f74-9e16-15434d3ee324,Good,3,neutral
4,8be10073-2368-4677-b828-9ff5d06ea0b7,"App is useful to certain phone brand ,,,,it is...",1,negative

In [12]:
df = df[['content', 'score', 'sentiment']]
df.columns = ['Content', 'Score', 'Sentiment']

df.head()

                                             Content  Score Sentiment
0  Plsssss stoppppp giving screen limit like when...      2  negative
1                                               Good      5  positive
2                                                 üëçüëç      5  positive
3                                               Good      3   neutral
4  App is useful to certain phone brand ,,,,it is...      1  negative

We can save the cleaned up dataset now.

In [13]:
df.to_csv('cleaned_data.csv', index=False)